body {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: purple;
}

.background-1 {
    background: #68B0AB;
}

.background-2 {
    background: #8FC0A9;
}

.background-3 {
    background: #C8D5B9;
}

.background-4 {
    background: #FAF3DD;
}

.m-20 {
    margin: 20px;
}

.h-80 {
    min-height: 80px;
}

.h-400 {
    height: 400px;
}

.w-80 {
    width: 80px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;        
    gap: 20px;
    border: 2px solid hsl(0, 0%, 80%);
    padding: 20px;
}

.flex-item-1 { flex: 1; }
.flex-item-2 { flex: 2; }
.flex-item-3 { flex: 3; }
.flex-item-4 { flex: 1; }